main {
    & header {
        max-width: 100%;
        padding-block: 1.25rem 3.87rem;
        display: flex;
        justify-content: center;
    }

    & section#app {
        & #t-1 {
            padding-block: 1rem 2.75rem;
        }

        & form {
            padding-bottom: 2.5rem;
        }
    }
}